<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <p>
      {{screamIt welcomeMessage}}
    </p>
    <p>
      This webpage is currently being deployed on port {{listenport}}
    </p>
    {{> footer}}
  </body>
</html>
